{% extends 'admin/base_site.html' %}

{% load static %}

{% block branding %}
<div class="head">
    <h1 id="name">Admin Dashboard</h1>
</div>
{% endblock %}

{% block nav-global %}
<img alt="logo" class="brand_img" height="50" src="{% static 'images/ic_launcher.png'%}" width="50">
{% endblock %}