{% extends "blog/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" >
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete post</legend>
                <h2>Are you sure to delete? {{ object.title }}</h2>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes</button>
                <a class="btn btn-outline-warning" href="{% url 'post-detail' object.id %}">No</a>
            </div>
        </form>

    </div>
{% endblock content %}